@media (min-width: 750px) {
    .contacts__content__line {
        flex-direction: row;
        column-gap: 4vw;
        .contacts__content__list {
            width: 40vw;
        }
        .contacts__map {
            width: 55vw;
        }
    }
}

@media (max-width: 750px) {
    .contacts__content__line {
        flex-direction: column;
        row-gap: 5vh;
        .contacts__content__list {
            width: 90vw;
        }
        .contacts__map {
            width: 90vw;
        }
    }
}

.contacts {
    background-color: #f9f9f9;
    .container {
        flex-direction: column;
    }
}

.contacts__content {
    &__line {
    padding-inline: 5vw;
    padding-block: 15px;
    display: flex;
    align-items: center;
    }
    h1 {
        text-align: center;
        margin-block: 3vh;
        font-size: clamp(24px, 2.4vw, 30px);
    }
    hr {
        margin-block: 50px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        row-gap: 25px;
        .title {
            font-size: clamp(12px, 1.5vw, 16px);
            font-weight: 300;
        }
        .main-text {
            font-size: clamp(16px, 2.25vw, 24px);
            font-weight: 700;
        }
    }
    .contacts__map {
        img {
            width: 100%;
        }
    }
}