.mainPage {
    margin-top: 5%;
    min-height: 500px;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
}

.mainPage-img {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    height: 400px;
    border-radius: 16px;
    width: 130%;
    img {
        // width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.mainPage-text {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;
    font-size: 16px;
    text-align: center;
}
.mainPage-text:before,
.mainPage-text:after {
    position: absolute;
    color: #bfe2ff;
    font-size: 100px;
    font-family: Times, sans-serif;
    line-height: 100px;
}
.mainPage-text:before {
    content: "“";
    left: -30px;
    top: -10px;
}
.mainPage-text:after {
    content: "”";
    right: -30px;
    bottom: -10px;
}
.mainPage-text h1 {
    color: #337ab7;
    padding-top: 10px;
    display: block;
}

// Горизонтальная линия

.line1 {
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 7%;
}
.line2 {
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 3%;
}

//Секция о нас

.about__us {
    margin-top: 5%;
    &-text {
        font-weight: 300;
        margin-top: 5%;
        p {
            margin-top: 1%;
            width: 50%;
        }
    }
}

.about__us-adv-component {
    padding: 10px;
    display: inline-flex;
    display: flex;
    small {
        font-weight: 300;
    }
    &-img {
        width: 50px;
        height: 50px;
        padding: 10px;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.about__us-adv {
    position: relative;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;
    border: 5px solid transparent;
    border-image: linear-gradient(180deg, #1b6fdb 0%, #fff 33.33%, #fff 63%, #007000 100.01%) 30;
}

// .about__us-adv::before {
//     content: "";
//     position: absolute;
//     top: -5px;
//     left: -5px;
//     width: calc(100% + 10px);
//     height: calc(100% + 10px);

// }

// Секция новостей

.news {
    margin-top: 5%;
}

.controll-news-text {
    text-align: center;
    p {
        font-weight: 300;
    }
}

.news__section {
    display: flex;
    justify-content: space-around;
}

.news__section-card {
    margin-top: 3%;
    width: 25%;
    height: 30%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.news__section-card-info {
    &-img {
        width: 100%;
        height: 10%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        padding: 5px;
        strong {
            color: #1b6fdb;
        }
        small {
            margin-top: 5px;
            font-weight: 300;
        }
    }
}

.news__section-card-read {
    cursor: pointer;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &-line {
        width: 100%;
        height: 1px;
        background-color: black;
    }
    &-text {
        padding: 5px;
        strong {
            font-size: 15px;
        }
    }
}
.linkButton {
    font-size: 12px;
}

.news__section-card-read:hover {
    transition: 0.3s;
    background-color: #1b6fdb;
}

.news__section-card-read-line:hover {
    transition: 0.3s;
    background-color: #fff;
}
.news__section-card-read-text:hover {
    transition: 0.3s;
    color: #fff;
}

.button-to-news {
    margin-top: 3%;
    text-align: center;
}

//Отправить анкету

.join__main {
    margin-top: 5%;
    margin-bottom: 5%;
}

.join__main-head {
    width: 100%;
    h1 {
        text-align: center;
    }
    &-controll {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
    }
}

.join__main-head-info {
    font-weight: 300;
    h2 {
        font-size: 25px;
        font-weight: 300;
    }
    &-instr {
        display: flex;
        flex-direction: column;
        margin-left: 8%;
        align-items: center;
        margin-top: 1%;
        &-img {
            width: 70px;
            height: 70px;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            text-align: center;
        }
    }
    .join__main-head-info-controll {
        display: flex;
        padding: 10px;
    }
}

.join__main-head-quest {
    position: relative;
    padding: 50px 30px 50px 30px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 5px solid transparent;
    border-image: linear-gradient(180deg, #1b6fdb 0%, #fff 33.33%, #fff 63%, #007000 100.01%) 30;

    h2 {
        font-size: 30px;
        color: #1b6fdb;
        text-align: center;
    }

    &-form {
        background-color: #fff;
        border: 1px black solid;
        padding: 10px;
        margin-top: 3%;
        width: 450px;
        color: black;
        border-radius: 10px;
    }
    
    &-file{
        background-color: #fff;
        border: 1px black solid;
        padding: 10px;
        width: 250px;
        margin-top: 3%;
        color: black;
        border-radius: 10px;
        cursor: pointer;
    }

    &-button{
        margin-top: 3%;
        text-align: center;
    }
}


// .join__main-head-quest::before {
//     content: "";
//     position: absolute;
//     top: -5px;
//     left: -5px;
//     width: calc(100% + 10px);
//     height: calc(100% + 10px);

//     z-index: -1;
// }

@media (max-width: 1000px) {
    .mainPage-img {
        height: 50vh;
        border-radius: 16px;
        width: 60%;
        margin: 0 auto;
        img {
            // width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    .mainPage-text {
        p {
            font-size: 15px;
        }
        h1 {
            font-size: 22px;
        }
        h3 {
            font-size: 18px;
        }
    }
    .about__us {
        text-align: center;
        p {
            text-align: center;
            width: 80%;
            margin-left: 10%;
        }
    }

    .about__us-text p{
        font-size: 25px;
    }

    .about__us-adv {
        margin-top: 3%;
        width: 60vw;
        margin-left: 20%;
    }

    .controll-news-text p{
        font-size: 25px;
    }

    .news__section-card-info-text {
        strong {
            font-size: 13px;
        }
        small {
            font-size: 10px;
        }
    }

    .news__section-card-read-text strong {
        font-size: 13px;
    }

    .join__main-head-controll{
        flex-direction: column;
    }

    .join__main-head-info h2{
        text-align: center;
    }

    .join__main-head-info-controll{
        align-items: center;
    }

    .join__main-head-quest{
        width: 50%;
        align-items: center;
        left: -10px;
    }

    .join__main-head-info-controll {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .join__main-head-quest{
        margin-left: 20%;
        margin-top: 5%;
    }
    
    .join__main-head-quest-form{
        width: 250px;
    }
}

@media (max-width: 600px) {
    .mainPage-img {
        height: 40%;
        border-radius: 16px;
        width: 60%;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    .mainPage-text {
        p {
            font-size: 12px;
        }
        h1 {
            font-size: 19px;
        }
        h3 {
            font-size: 14px;
        }
    }
    .about__us {
        p {
            font-size: 15px;
        }
    }

    .about__us-adv {
        margin-top: 3%;
        width: 80vw;
        margin-left: 10%;
        &-component {
            font-size: 12px;
        }
    }
    .about__us-adv-component-img {
        height: 35px;
        width: 35px;
    }

    .controll-news-text p{
        font-size: 15px;
        margin-top: 1%;
    }

    .news__section {
        flex-direction: column;
        align-items: center;
    }
    .news__section-card {
        width: 70%;
    }
    .news__section-card-info-text {
        strong {
            font-size: 20px;
        }
        small {
            font-size: 15px;
        }
    }

    .news__section-card-read-text strong {
        font-size: 20px;
    }

    .join__main-head-info h2{
        font-size: 15px;
        margin-top: 1%;
    }

    .join__main-head-quest{
        width: 70%;
        align-items: center;
        margin-left: 10%;
    }

    .join__main-head-info-instr-text{
        font-size: 15px;
    }

    .join__main-head-info-instr{
        font-size: 15px;
    }

    .join__main-head-info-instr-img{
        width: 50px;
        height: 50px;
    }

    .join__main-head-info-instr{
        text-align: center;
    }
}
